
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="stylenav.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Survey Bayesian Networks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>

<body>

<!-- Navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-customclass">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#index.html" style="color: #BC2F31"><strong>Survey</strong></a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <sapn class="icon-bar"></sapn>
      </button>
    </div>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li class="active"><a href="#info">Information</a></li>
	      <li><a href="#consent">Consent Form</a></li>

		
		<li><a href="#demographics">Demographics</a></li>
		
	

				<li><a href="#instructions">Instructions</a></li>

<!--
		q1 => treatment no mistake
		q2  => control no mistake
		q3 => treatment mistake
		q4 => ccontrol mistake
-->
      <li><a href="#q1">Q1</a></li>
		<li><a href="#q2">Q2</a></li>
		<li><a href="#q3">Q3</a></li>
		<li><a href="#q4">Q4</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center" id="index.html">
<h1>Survey on Bayesian Networks</h1>
</div>

<div class="container">
  <div class="row" id="info">
	  <h1>Participants Information</h1>
	  
	<table class="table table-bordered">
		<thead>

  <tbody>
    <tr>
      <td>
Project title:</td>
      <td></td>
    </tr>
    <tr>
      <td>Principal investigator:</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Researchers collecting data</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Funder (if applicable):</td>
      <td>&nbsp;</td>
    </tr>
	  
  </tbody>
		</thead>
</table>


	
	 <h4>

This study was certified according to the <span style="color:red;">BLA BLA</span>, RT number <span style="color:red;">BLA BLA</span>. Please take time to read the following information carefully. You should keep this page for your records. <br><br>

1. Who are the researchers? <br>
This study is conducted by Jaime Sevilla and Miruna-Adriana Clinciu  <span style="color:red;">MORE INFO ABOUT US</span>. <br><br>

2. What is the purpose of the study? <br>
Computers are making many decisions on our behalf and it is important for people to be able to understand the decisions that are being made. The point of this study is to provide people with various types of explanations of computer decisions so that we can learn what types of explanations work best.  <span style="color:red;">BLA BLA our own summary</span> <br><br>

3. Why have I been asked to take part? <br>
Explanations should  be understandable by most adults who are familiar with the Internet and computing technology. You have been asked to participate because we believe you are over 18 years old and fit this profile.   <span style="color:red;"> Fom previous study, needs modified</span> <br><br>

4. Do I have to take part? <br>
No – participation in this study is entirely up to you. You can withdraw from the study at any time, without giving a reason. Your rights will not be affected. If you wish to withdraw, contact the PI. We will stop using your data in any publications or presentations submitted after you have withdrawn consent. However, we will keep copies of your original consent, and of your withdrawal request. <br><br>

5. What will happen if I decide to take part? <br>
You will be asked to take an online survey that is approximately  <span style="color:red;">we need to see how much time it takes in a pilot </span> minutes long. The survey will show you one graph and explanations generated about it. You will then be asked to provide feedback about how understandable the explanations and graphs are.  We will also collect basic demographic information such as age range and gender.   <span style="color:red;">TO BE MODIFIED</span> <br><br>

6. Compensation. <br>
You will not be compensated for your participation in this study. <br><br>


7. Are there any risks associated with taking part?<br>
There are no significant risks associated with participation. <br><br>
 
8. What will happen to the results of this study? <br>
The results of this study may be summarised in published articles, reports and presentations. Quotes or key findings will be anonymized: we will remove any information that could, in our assessment, allow anyone to identify you. With your consent, information can also be used for future research. The full survey data may be archived for a minimum of 2 years. <br><br>

9. Data sharing and access. <br>
An anonymised version of the collected dataset will be made available for public download in order to support open science and reproducibility of research results. We will remove all identifying data from this data set, such as any answers that we feel may identify you. <br><br>

10. Data protection and confidentiality.<br>
The full survey data will be processed in accordance with the Data Protection Law.  All information collected about you will be kept strictly confidential. Your data will be referred to by a unique participant number rather than by name. All electronic data will be stored on a password-protected encrypted computer, on the  <span style="color:red;"> THE PLACE ARE KEPT FILES E.G. UNIVERSITY FO ABERDEEN </span>  secure file servers, or on the University’s secure encrypted cloud storage services (DataShare, ownCloud, or Sharepoint) and all paper records will be stored in a locked filing cabinet in the PI’s office. Your consent information will be kept separately from your responses in order to minimise risk. <br><br>
  
11. What are my data protection rights? <br>
The  <span style="color:red;">uNIVERSITY OF aBDERDEEN?</span>is a Data Controller for the information you provide. You have the right to access information held about you. Your right of access can be exercised in accordance with Data Protection Law. You also have other rights including rights of correction, erasure and objection. However, we recommend that you exercise these rights shortly after the survey, as after we will remove your identifying data it will no longer be possible for us to identify which rows contain your data. For more details, including the right to lodge a complaint with the Information Commissioner’s Office, please visit www.ico.org.uk. Questions, comments and requests about your personal data can also be sent to the University Data Protection Officer at  <span style="color:red;">EMAIL ??? </span>. <br><br>

12. Who can I contact? <br>
If you have any further questions about the study, please contact, Miruna Clinciu via email mc191@hw.ac.uk or Jaime Sevila via email  <span style="color:red;">to verify and add email</span><br>.
		 
If you wish to make a complaint about the study, please contact  <span style="color:red;">uNIVERSITY OF aBDERDEEN?</span>. When you contact us, please provide the study title and detail the nature of your complaint.<br><br>

13. Updated information.<br>
If the research project changes in any way, an updated Participant Information Sheet will be made available on  <span style="color:red;">BLA BLA</span>. <br><br>
14. Alternative formats. <br>
To request this document in an alternative format, such as large print or on coloured paper, please contact Miruna Clinciu via email mc191@hw.ac.uk. <br><br>
15. General information. <br>
For general information about how we use your data, go to: <span style="color:red;">BLA BLA privacy research </span>. <br><br>

 </h4>
	  
	</div>
	<hr>
	
<div class="row"> 	  
  <h1 id="consent">Consent Form</h1> 
  
  {% include 'consent_form.html' %}
  
	</div>
	
	
	
	
	<div class="row"> 	  
  <h1 id="demographics">Demographics</h1> 
  
  {% include 'demographics.html' %}
  
	</div>
	
	
	
  
	 <div class="row">
	  
	  
	 <p class="textbig">

<br>Here you will see a Bayesian Network, some evidence and an explained output.

<br>The Bayesian Network we will be using as an example is used for medical diagnosis. 
<br>In particular, it is used to determine the chances that a patient has lung cancer, given their symptoms, risk factors and medical history.
 </p>
	
  
	

  <!-- Bayesian Network graph -->
	<img src="{{ url_for('static', filename=bn_graph) }}" />
	</div>
	 <hr> 
   
  {{ variable_description|safe }}
	 
  <h1 id="q1">Treatment no mistake</h1>
  
  {{html_evidence_treatment_no_mistake|safe}}
  
  {{html_explanation_treatment_no_mistake|safe}}
  
  {{html_survey_treatment_no_mistake|safe}}
  
  
  <h1 id="q2">Control no mistake</h1>
  
  {{html_evidence_control_no_mistake|safe}}
  
  {{html_explanation_control_no_mistake|safe}}
  
  {{html_survey_control_no_mistake|safe}}
  
  
  <h1 id="q3">Treatment mistake</h1>
  
  {{html_evidence_treatment_mistake|safe}}
  
  {{html_explanation_treatment_mistake|safe}}
  
  {{html_survey_treatment_mistake|safe}}
  
  <h1 id="q4">Control mistake</h1>
  
  {{html_evidence_control_mistake|safe}}
  
  {{html_explanation_control_mistake|safe}}
  
  {{html_survey_control_mistake|safe}}
  
  </div>
</div>   
    
</body>
</html>
