/* fix fixed-bar */
body { padding-top: 60px; font-family: Arial, sans-serif;}
@media screen and (max-width: 768px) {
  body { padding-top: 60px; }
}

.anchor {
  display: block;
  height: 10px;        
  padding-top: 70px;  /* same height as header */
  visibility: hidden;
}


.fa:before {   
  content: "\f139";
}
.collapsed .fa:before {
  content: "\f13a";
}

textbig
{
	font-size: calc(12px+3vw);
}
