
<link href="https://unpkg.com/survey-jquery@1.8.60/modern.css" type="text/css" rel="stylesheet" />
<script src="https://unpkg.com/survey-jquery@1.8.60/survey.jquery.min.js"></script>

<!-- SurveyJS container -->
<div id="surveyContainer_{{html_element_id}}"></div>

<!-- Script that fetches and submits the survey -->
<script>
Survey.StylesManager.applyTheme("modern");

function sendDataToServer_{{html_element_id}}(survey) {
  survey.setValue("bn", "{{network_name}}")
  survey.setValue("p", {{p_target}})
  survey.setValue("is_treatment", {{is_treatment}})
  survey.setValue("mistake", "{{mistake_location}}")
  survey.sendResult('2fd3f481-70d1-4b40-ab8b-611d89238ad5');
}

var surveyJSON = { surveyId: 'b48b6122-d333-462a-bd57-34ca878560e7', 
                   surveyPostId: '2fd3f481-70d1-4b40-ab8b-611d89238ad5'}

var survey_{{html_element_id}} = new Survey.Model(surveyJSON);

$("#surveyContainer_{{html_element_id}}").Survey({
    model: survey_{{html_element_id}},
    onComplete: sendDataToServer_{{html_element_id}}
});
</script>