<!-- Libraries for SurveyJS -->
<link href="https://unpkg.com/survey-jquery@1.8.60/modern.css" type="text/css" rel="stylesheet" />
<script src="https://unpkg.com/survey-jquery@1.8.60/survey.jquery.min.js"></script>

<!-- Form container -->
<div id="demographicsFormContainer"></div>
  
<script>
Survey.StylesManager.applyTheme("modern");

var surveyJSON = { surveyId: '1707ac7e-e147-4894-9820-1c0c44e6ce0d', 
                   surveyPostId: '24e9d4cd-f5f6-4742-858a-6506c5e47565'}

var survey = new Survey.Model(surveyJSON);
$("#demographicsFormContainer").Survey({
    model: survey,
});
</script>

