<h1>Instructions</h1> 
 
<p>
The survey consists of five main sections: <strong>Participant Information</strong>, <strong>Consent Form</strong>, <strong>Demographics</strong>, <strong>Instructions</strong> and <strong>Tasks</strong>.  <br> <br>
</p>

<p>
There are <strong>four tasks</strong>, and for each task you will receive the following: 
</p>
<br>
<ol>
<li>A series of observations that have been given as input into the system </li>
	<li>An interactive visualization tool</li>
<li>Some questions about the system </li>
	</ol>

<p>
We would like you to read the inputs to the system, and interact with the visualization tool, then answer the questions. <br>
You may use the visualization tool as many times as you want while answering the questions. <br>
Once you are satisfied with your answers, press the “submit” button and move on to the next task. <br>
</p>

<p>
There are two types of visualizations you will encounter.
</p>

<p>
In the first kind, you will see an interactive display of a network. <br>
You can click on the states of the nodes to enter the evidence for the task. <br>
Click again on a state to clear the evidence. <br>
</p>

{{example_control_html|safe}}

<p>
In the second kind, you will see a step-by-step argument explaining how the network arrives at a conclusion. <br>
Click through the numbered tabs to step through the argument. Each step contains some text explaining each step, and a visualization highlighting the nodes relevant for the step.
</p>

{{example_treatment_html|safe}}

	<div class="container">
  
	 <div class="row">
	  
	  
	 <p class="textbig">

<br>The Bayesian Network we will be using as an example through all tasks is used for medical diagnosis. 
<br>In particular, it is used to determine the chances that a patient has lung cancer, given their symptoms, risk factors and medical history.
 </p>

  <!-- Bayesian Network graph -->
	<img src="{{ url_for('static', filename=bn_graph) }}" />
		</div></div>
	 <hr> 
   
  {{ variable_description|safe }}
	
	</div>
