
<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='stylenav.css') }}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


  <title>Survey Bayesian Networks</title>
  <meta charset="utf-8">
  
  <style>
  p {
    font-size: font-size: calc(30px+3vw);
  }
  </style>
  
  <!-- Libraries for JSBayes-viz -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='node_modules/d3/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/lodash/lodash.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/graphlib/dist/graphlib.core.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/dagre/dist/dagre.core.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/jsbayes/jsbayes.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/better-jsbayes-viz/jsbayes-viz.js') }}"></script>

  <!-- Style for JSBayes-viz -->
  <style>
      svg { border: 1px solid black; }
      svg g rect.node-shape { border-radius: 5px !important; fill:#cceeff !important; cursor: move; }
      svg g text.node-name { font-weight: 800 !important }
      svg g rect.node-bar { fill: DodgerBlue !important }
      svg g text.node-value { fill:rgb(0,0,0) !important; font-size: 15px; cursor: pointer; }
      svg line.edge-line { stroke:rgb(0,0,0) !important }
      svg path.edge-head { fill:rgb(0,0,0) !important }
  </style>


</head>

<body>

<!-- Navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-customclass">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#index.html" style="color: #BC2F31"><strong>Survey</strong></a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <sapn class="icon-bar"></sapn>
      </button>
    </div>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li class="active"><a href="#info">Information</a></li>
	      <li><a href="#consent">Consent Form</a></li>

		
		<li><a href="#demographics">Demographics</a></li>
		
	

				<li><a href="#instructions">Instructions</a></li>

<!--
		q1 => treatment no mistake
		q2  => control no mistake
		q3 => treatment mistake
		q4 => ccontrol mistake
-->
      <li><a href="#q1">Task 1</a></li>
		<li><a href="#q2">Task 2</a></li>
		<li><a href="#q3">Task 3</a></li>
		<li><a href="#q4">Task 4</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center" id="index.html">
<h1>Study title: Explaining Bayesian Networks</h1>
</div>

<div class="container">
<div class="container-fluid">

		
			<span class="anchor" id="info"></span>
<div class="section"></div>
	   <br><br>	
		

<div class="container">
  <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo"     margin-bottom="0px" text-align="left"> <h1>Participant Information</h1><h5>( Click for collapse/expand )</h5><i class="fa"></i></button>
  <div id="demo" class="collapse">

	
	  
	  
	<table class="table table-bordered">
		<thead>

  <tbody>
    <tr>
      <td>
Project title:</td>
      <td>Explaining Bayesian Networks</td>
    </tr>
    <tr>
      <td>Principal investigator:</td>
      <td>Jaime Sevilla</td>
    </tr>
    <tr>
      <td>Researchers collecting data</td>
      <td>Jaime Sevilla <br> Miruna Clinciu</td>
    </tr>
    <tr>
      <td>Funder (if applicable):</td>
      <td>Jaime Sevilla is supported by the NL4XAI project and the European Union’s
Horizon 2020 research and innovation programme under the Marie Skłodowska-
Curie grant agreement No 860621. <br> Miruna Clinciu is supported by the EPSRC Centre for Doctoral Training in Robotics and Autonomous Systems at Heriot-Watt University and the University of Edinburgh. Clinciu’s PhD is funded by Schlumberger Cambridge Research Limited (EP/L016834/1, 2018-2021).</td>
    </tr>
	  
  </tbody>
		</thead>
</table>


	
	 <h4>
This study was certified according by the Physical Sciences & Engineering Ethics Board on date X. Please take time to read the following information carefully. You should keep this page for your records. <br><br>
 
1. Who are the researchers?<br>
This study is conducted by Jaime Sevilla, PhD student at University of Aberdeen and Miruna-Adriana Clinciu affiliated with Edinburgh Centre for Robotics.<br><br>
 
2. What is the purpose of the study?<br>
Computers are making many decisions on our behalf and it is important for people to be able to understand the decisions that are being made. The point of this study is to provide people with various types of explanations of computer decisions so that we can learn what types of explanations work best. <br><br>
 
3. Why have I been asked to take part?<br>
You are an expert on AI who has worked before with the AI system we are explaining - Bayesian Networks. You have been asked to participate because we believe you are over 18 years old and fit this profile.<br><br>
 
4. Do I have to take part?<br>
No – participation in this study is entirely up to you. You can withdraw from the study at any time, without giving a reason. Your rights will not be affected. If you wish to withdraw, contact the PI. We will stop using your data in any publications or presentations submitted after you have withdrawn consent. However, we will keep copies of your original consent, and of your withdrawal request.<br><br>
 
5. What will happen if I decide to take part?<br>
You will be asked to take an online survey that is approximately 30 minutes long. The survey will show you one graph and explanations generated about it. You will then be asked to answer some questions about the graph you saw and the accuracy of the explanations. We will also collect basic demographic information such as age range and gender. <br><br>
 
6. Compensation.<br>
You will not be compensated for your participation in this study.<br><br>
 
7. Are there any risks associated with taking part?<br>
There are no significant risks associated with participation.<br><br>
 
8. What will happen to the results of this study?<br>
The results of this study may be summarised in published articles, reports and presentations. Quotes or key findings will be anonymized: we will remove any information that could, in our assessment, allow anyone to identify you. With your consent, information can also be used for future research. The full survey data may be archived for a minimum of 2 years.<br><br>
 
9. Data sharing and access.<br>
An anonymised version of the collected dataset will be made available for public download in order to support open science and reproducibility of research results. We will remove all identifying data from this data set, such as any answers that we feel may identify you.<br><br>
 
10. Data protection and confidentiality.<br>
The full survey data will be processed in accordance with the Data Protection Law. All information collected about you will be kept strictly confidential. Your data will be referred to by a unique participant number rather than by name. All electronic data will be registered using SurveyJS secure servers, then downloaded on the principal investigator’s password-protected computer, or on the University’s secure encrypted cloud storage services (DataShare, ownCloud, or Sharepoint) and all paper records will be stored in a locked filing cabinet in the PI’s office. Your consent information will be kept separately from your responses in order to minimise risk.<br><br>
 
11. What are my data protection rights?<br>
The University of Aberdeen is a Data Controller for the information you provide. You have the right to access information held about you. Your right of access can be exercised in accordance with Data Protection Law. You also have other rights including rights of correction, erasure and objection. However, we recommend that you exercise these rights shortly after the survey, as after we will remove your identifying data it will no longer be possible for us to identify which rows contain your data. For more details, including the right to lodge a complaint with the Information Commissioner’s Office, please visit www.ico.org.uk. Questions, comments and requests about your personal data can also be sent to the Convener of the Physical Sciences & Engineering Ethics Board at the University of Aberdeen: Email: <a href="mailto:mc191@hw.ac.uk">copsethics@abdn.ac.uk</a>.<br><br>
 
 
12. Who can I contact?<br>
If you have any further questions about the study, please contact, Miruna Clinciu via email <a href="mailto:mc191@hw.ac.uk">mc191@hw.ac.uk</a> or Jaime Sevila via email <a href="mailto:j.sevilla.20@abdn.ac.uk">j.sevilla.20@abdn.ac.uk</a>.<br>
If you wish to make a complaint about the study, please contact <a href="mailto:mc191@hw.ac.uk">copsethics@abdn.ac.uk</a>. When you contact us, please provide the study title and detail the nature of your complaint.<br><br>
 
13. Updated information.<br>
If the research project changes in any way, an updated Participant Information Sheet will be made available on <a href="https://jsevillamol.github.io/explainBN/">https://jsevillamol.github.io/explainBN/</a> <br>
14. Alternative formats. <br>
To request this document in an alternative format, such as large print or on coloured paper, please contact Jaime Sevila via email <a href="mailto:j.sevilla.20@abdn.ac.uk">j.sevilla.20@abdn.ac.uk</a>.<br>
15. General information. <br>
For general information about how we use your data, the University’s Privacy Notice for Research Participants is available <a href="https://www.abdn.ac.uk/about/privacy/research-participants-938.php">here.</a> <br><br>

 </h4>
	  
	</div>    

	
	<hr>

<div class="container">
<div class="row"> 	  
	
			
			<span class="anchor" id="consent"></span>
<div class="section"></div>
	   
<br><br>
  <h1>Consent Form</h1> 
  
  {% include 'consent_form.html' %}
  
	</div></div>
	
	<br>
	
	

	
	
	
<div class="container">
	<div class="row"> 
		
			<span class="anchor" id="demographics"></span>
<div class="section"></div>
	    <br><br>	
  <h1>Demographics</h1> 
  
  {% include 'demographics.html' %}
  
	</div></div>
  
  
  <br>
  
  <div class="container">
<div class="row"> 	  
	
			
			<span class="anchor" id="instructions"></span>
<div class="section"></div>
	   
<br><br>
  
  {{instructions_html|safe}}
  
	</div></div>
	
	
	<div class="container">

	 <div class="row">
		 	
	<span class="anchor" id="q1"></span>
<br><br>	   
	 
<!--  <h1>Treatment no mistake</h1>-->
  <h1>Task 1</h1>
  {{html_evidence_treatment_no_mistake|safe}}
  
  {{html_explanation_treatment_no_mistake|safe}}
  
		 {{html_survey_treatment_no_mistake|safe}} </div>
	<br>
   <div class="row">
	<span class="anchor" id="q2"></span>
	  
<div class="section"></div>
	    <br><br>	 
<!--<h1>Control no mistake</h1>-->
<h1>Task 2</h1>
  
  {{html_evidence_control_no_mistake|safe}}
  
  {{html_explanation_control_no_mistake|safe}}
  
	   {{html_survey_control_no_mistake|safe}} </div> <br>
  
	

   <div class="row">
	   
	     	
	<span class="anchor" id="q3"></span>
	 
<div class="section"></div>
	     <br><br>	

<!--  <h1>Treatment mistake</h1>-->
  
	   <h1>Task 3</h1>
  {{html_evidence_treatment_mistake|safe}}
  
  {{html_explanation_treatment_mistake|safe}}
  
	   {{html_survey_treatment_mistake|safe}} </div> <br>


	 <div class="row">

  	
	<span class="anchor" id="q4"></span>
		
<div class="section"></div>
	 <br><br>	
		 
<!--  <h1>Control mistake</h1>-->
  
		    <h1>Task 4</h1>
  {{html_evidence_control_mistake|safe}}
  
  {{html_explanation_control_mistake|safe}}
  
		 {{html_survey_control_mistake|safe}} 
  
	
		</div>   </div>  </div> </div>
    
</body>
</html>
